.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}


body {
    text-align: center;
	background-color:black;
	font-family: 'Kavivanar', cursive;
	font-size:140%;
	height:100%;
	
	
}

h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
	font-family: 'Alegreya', serif;
	font-size:110%;
	letter-spacing: 3px;
}

h2:first-of-type {
    margin-top: 0.5em;
	padding-bottom:1%;
	
}

table {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
	border: 3px solid black;
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;
	
}

tr {
    height: 3px;
	
}

td {
    width: 3px;
	
}

input[type=number] {
    width: 6em;
}

.btn {
	background-color:black;
	font-family: Arial;
	color:white;
	margin-right:2%;
}

#main {
	background-color:rgba(255,255,255,0.5);
	padding:4%;
	margin: 0px 100px;
	background-image:url("backg3.png");
	background-size:cover;
	background-repeat:no-repeat;
}

/* */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
	position:relative;
	top:10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
